@import 'tailwindcss';
@import '../styles/root.css';

:root {
  --main-bg-color: #000000;
  --main-text-color: #ffffff;
}

body {
  font-family: var(--font-poppins);

  background-color: var(--main-bg-color);

  color: var(--main-text-color);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
